interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/nate-test-rg/workspaces/testSdkWorkspace9271133/dataConnections?skip=0&api-version=2022-11-01-preview
  response:
    body:
      string: '{"totalElements":6,"totalPages":1,"last":true,"numberOfElements":6,"first":true,"size":6,"number":0,"content":[{"id":"a","name":"a","displayName":"a","kind":"sentinel","content":"all","connectionString":"b","options":"c","createdDate":"2022-11-14T19:14:10.000+00:00","frequency":null,"offset":0,"updatedDate":"2022-11-18T20:52:22.000+00:00"},{"id":"c","name":"c","displayName":"c","kind":"sentinel","content":"all","connectionString":"a","options":"b","createdDate":"2022-11-14T20:30:05.000+00:00","frequency":null,"offset":0,"updatedDate":"2022-11-15T15:56:50.000+00:00"},{"id":"n","name":"n","displayName":"n","kind":"sentinel","content":"all","connectionString":"b","options":"c","createdDate":"2022-11-18T17:01:01.000+00:00","frequency":null,"offset":0,"updatedDate":"2022-11-18T17:01:01.000+00:00"},{"id":"real-connection","name":"real-connection","displayName":"real-connection","kind":"sentinel","content":"all","connectionString":"WorkspaceId=e1fa90f3-91ab-4a79-9ba0-1c89c20701fb;ApiKey=apiKey","options":"","createdDate":"2022-11-14T20:20:31.000+00:00","frequency":null,"offset":0,"updatedDate":"2022-11-18T20:56:05.000+00:00"},{"id":"test","name":"test","displayName":"test","kind":"sentinel","content":"all","connectionString":"WorkspaceId=67941822-30fc-4cc2-aa17-750dce2d96f4;ApiKey=apiKey","options":null,"createdDate":"2022-11-10T20:50:21.000+00:00","frequency":null,"offset":0,"updatedDate":"2022-11-10T20:50:21.000+00:00"},{"id":"test_broken-connection","name":"test_broken-connection","displayName":"test_broken-connection","kind":"sentinel","content":"assets","connectionString":"WorkspaceId=<your
        Sentinel workspace ID here>;ApiKey=<your Sentinel API key here>","options":null,"createdDate":"2022-12-22T18:08:34.000+00:00","frequency":null,"offset":0,"updatedDate":"2022-12-22T18:08:34.000+00:00"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ui-version:
      - sdk
    status:
      code: 200
      message: ''
version: 1
