interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/nate-test-rg/workspaces/testSdkWorkspace9271133/dataConnections/a?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id":"a","name":"a","displayName":"a","kind":"sentinel","content":"all","connectionString":"b","options":"c","createdDate":"2022-11-14T19:14:10.000+00:00","frequency":null,"offset":0,"updatedDate":"2022-11-18T20:52:22.000+00:00"}'
    headers:
      content-type:
      - application/json
      x-ms-ui-version:
      - sdk
    status:
      code: 200
      message: ''
version: 1
