interactions:
- request:
    body: '{"connectionString": "WorkspaceId=workspaceid;ApiKey=apikey", "kind": "sentinel",
      "content": "assets"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/nate-test-rg/workspaces/testSdkWorkspace9271133/dataConnections/smoke_test_put_data_connection?api-version=2022-11-01-preview
  response:
    body:
      string: '{"id":"smoke_test_put_data_connection","name":"smoke_test_put_data_connection","displayName":"smoke_test_put_data_connection","kind":"sentinel","content":"assets","connectionString":"WorkspaceId=workspaceid;ApiKey=apikey","options":null,"createdDate":"2023-01-05T16:54:35.517+00:00","frequency":null,"offset":0,"updatedDate":"2023-01-05T16:54:35.517+00:00"}'
    headers:
      content-type:
      - application/json
      x-ms-ui-version:
      - sdk
    status:
      code: 200
      message: ''
version: 1
